<!--connect to the Hamper table to access hamper properties in the contr-->
@model Beanbrew.Models.Hamper

<!--this page is titled "Edit" because in here the user is changing data-->
@{
    ViewData["Title"] = "Edit";
}

<!--the 2 headings further inform the user that this page changes hampers-->
<h1>Edit</h1>

<h4>Hamper</h4>

<!--provide whitespace between the headings and body for a beautiful look-->
<hr />

<!--this is the actual form that takes up 33% of the width of the page-->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <!--if the data in invalid, display validation error messages-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--the hamper ID is hidden because it stays the same-->
            <input type="hidden" asp-for="HamperId" />

            <!--Bootstrap form-group for entering size into beautiful field-->
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <!--another form-group for entering the colour into the server-->
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>

            <!--Save button is a primary button that updates the data-->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!--this secondary button gives the user the choice to go back to the list-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--render 2 scripts that implement JQuery client side validation-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
